<launch>
    <node pkg="approach_controller" type="approach_controller" name="approach_controller">
        <param name="approach_dist" value="0.14" />
        <param name="approach_corridor_delta_y" value="0.2" />
    </node>
    <node pkg="approach_controller" type="retreat_controller" name="retreat_controller">
        <param name="retreat_dist" value="0.4" />
    </node>
</launch>
